CSV_LOC_URL="https://www.oapen.org/download?type=export&export=csv"
CSV_ISBN_HEAD=ISBN
CSV_TITLE_HEAD=Title
CSV_ID_HEAD=OAPEN_ID
CSV_URL_HEAD=OAPEN_URL
CSV_DOI_HEAD=DOI
CSV_TYPE_HEAD=Doctype
CSV_PARENT_HEAD=Book_ID
DOI_URI_PREFIX=info:doi:
ID_URI_PREFIX=tag:oapen.org,2008:oapen:
DEFAULT_TYPE=monograph
CHAPTER_TYPE=book-chapter
URI_API_ENDP=https://identifier.translation.service/translate
URI_API_WORKS=https://identifier.translation.service/works
URI_API_URIS=https://identifier.translation.service/uris
URI_API_TITLES=https://identifier.translation.service/titles
URI_API_REL=https://identifier.translation.service/work_relations
AUTH_API_ENDP=https://authentication.service/tokens
URI_API_USER=obp@example.com
URI_API_PASS=some_secure_password
